.odd {
    background-color: beige;
  }
  .even {
    background-color: aquamarine;
  }

  .first {
    background-color: blanchedalmond;
  }
  .last {
    background-color: cadetblue;
  }